.footer {
  background:  linear-gradient(200deg, #9A99E2, #6495ed);
  color: #ffffff;
  margin-top: 60px;
}

/* Top Section */
.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
  padding: 60px 6%;
}

.footer-box h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #ffffff;
  
}

.footer-box p {
  font-size: 15px;
  line-height: 1.7;
  color: #d1d5db;
  margin-bottom: 12px;
}

.footer-time {
  margin-top: 20px;
  color: #8ccaf1;
  font-size: 15px;
}

/* Quick Links */
.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  font-size: 15px;
  color: #8ccaf1;
  cursor: pointer;
}

.footer-box ul li:hover {
  text-decoration: underline;
}

/* Map */
.footer-map iframe {
  width: 100%;
  height: 300px;
  border: none;
}


.footer-link {
  color: #8ccaf1;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

