/* Admin Login Page Container */
.admin-login-container {
 height: 70vh;                /* 👈 IMPORTANT */
  width: 100%;
  display: flex;
  justify-content: center;      /* horizontal center */
  align-items: center;          /* vertical center */
  background: linear-gradient(135deg, #e2e8f0, #f8fafc);

}

/* Login Card */
.admin-login-form {
  width: 360px;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.12);
  animation: fadeIn 0.4s ease-in-out;
}

/* Title */
.admin-login-title {
  text-align: center;
  margin-bottom: 24px;
  color: #0f172a;
  font-size: 22px;
  font-weight: 600;
}

/* Inputs */
.admin-login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 14px;
}

.admin-login-input:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

/* Button */
.admin-login-button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #0b3c8a, #3b82f6);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.admin-login-button:hover {
  box-shadow: 0 6px 12px rgba(37, 99, 235, 0.35);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}.homeAdmin {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  margin-top: 18px;
  margin-left: 110px;
  padding: 10px 22px;

  background: linear-gradient(135deg, #0b3c8a, #3b82f6);
  color: #ffffff;

  font-size: 15px;
  font-weight: 200;

  border-radius: 10px;
  text-decoration: none;

  box-shadow: 0 6px 15px rgba(11, 60, 138, 0.3);
  transition: all 0.3s ease;
}

.homeAdmin:hover {
  background: linear-gradient(135deg, #08306b, #2563eb);
  transform: translateY(-2px);
  box-shadow: 0 10px px rgba(11, 60, 138, 0.45);
}

.homeAdmin:active {
  transform: translateY(0);
  box-shadow: 0 4px 10px rgba(11, 60, 138, 0.3);
}
